.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 680px; 
    background-color: #f0f0f0;
    color: #141313;
    border-radius: 2%;
    margin-top: -300px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.image {
    margin-top: -800px;
    margin-left: 100px; 
    width: 400px; 
    height: auto;
}
.h1{
    font-size: 40px;
}