<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Air Quality Index Calculator</title>
<link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="bo">
      <h1 style="color: #007bff; text-align: left;">Urban Air Quality</h1><br><br/>
  <p>
    Urban air quality refers to the quality of air in urban areas, which is influenced by various sources<br><br/> of pollution such as vehicle emissions, industrial activities, and construction.
    </p><p>Poor urban air quality can have detrimental effects on human health, leading to respiratory problems,<br><br/> cardiovascular diseases, and other health issues.
  </p>
  <p>
    To improve urban air quality, it is essential to implement measures such as promoting the use of public <br><br/>transportation, enforcing strict emission standards for vehicles and industries, increasing green spaces,<br><br/> and raising awareness about air pollution and its impacts on health and the environment.
  </p>
    </div>
<div class="container">
  <h1>Air Quality Index Calculator</h1>
  <div>
    <label for="pm25">PM 2.5 (µg/m³):</label>
    <input type="number" id="pm25">
  </div>
  <div>
    <label for="pm10">PM 10 (µg/m³):</label>
    <input type="number" id="pm10">
  </div>
  <div>
    <label for="so2">SO2 (µg/m³):</label>
    <input type="number" id="so2">
  </div>
  <div>
    <label for="co">CO (µg/m³):</label>
    <input type="number" id="co">
  </div>
  <div>
    <label for="nh3">NH3 (µg/m³):</label>
    <input type="number" id="nh3">
  </div>
  <div>
    <label for="nox">NOx (µg/m³):</label>
    <input type="number" id="nox">
  </div>
  <div>
    <label for="no2">NO2 (µg/m³):</label>
    <input type="number" id="no2">
  </div>
  <div>
    <label for="no">NO (µg/m³):</label>
    <input type="number" id="no">
  </div>
  <div>
    <label for="O3">O3 (µg/m³):</label>
    <input type="number" id="O3">
  </div>
  <div>
    <label for="Benzene">Benzene (µg/m³):</label>
    <input type="number" id="Benzene">
  </div>
  <div>
    <label for="Toulene">Toulene (µg/m³):</label>
    <input type="number" id="Toulene">
  </div>
  <div>
    <label for="Xylene">Xylene (µg/m³):</label>
    <input type="number" id="Xylene">
  </div>
  <button onclick="calculateAQI()">Calculate AQI</button>
  <div id="result"></div> <!-- This is where the AQI value will be displayed -->
</div>
<img src="static/img1.jpg" alt="Your Image" class="image">
<script src="static/app.js"></script>
</body>
</html>